#homepage {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#portfolio-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-image {
  width: 50%;
  height: auto;
  margin: 10px;
}

body {
  color: #222;
  background: #fff;
  font-family: "Lobster Two", sans-serif;
  font-family: "Raleway", sans-serif;
}
a {
  color: #0033cc;
}

body {
  color: #222;
  background: #fff;
}
a {
  color: #0033cc;
}
/* Dark Mode styles */
body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme a {
  color: #809fff;
}
